@import "./colors.scss";
%menu_shared {
	background-color: $wc;
	button {
		background-color: transparent;
		border: 1px solid $hoverColor;
		margin: 0px;
		padding: 5px 20px;
		&:hover {
			background-color: $hoverColor;
		}
	}
}

#menu {
	@extend %menu_shared;
	display: none;
}
#activatedMenu {
	@extend %menu_shared;
	display: inline-grid;
	position: absolute;
	z-index: 999999;
}

